section.about
    .container
        .title.title--with-bottom-line
            h2.title.title__header About us
            .title_text We are added our major Services

        ul.about__list
            li.about__item
                .icon.icon-like
                h3.about__header Facebook Marketing
                p.about__description Lorem Ipsum is simple dummy text of the prising and typoscripting industry standart dummy text ever

            li.about__item
                .icon.icon-book
                h3.about__header Landing pages Creation
                p.about__description Lorem Ipsum is simple dummy text of the prising and typoscripting industry standart dummy text ever

            li.about__item
                .icon.icon-message
                h3.about__header Ad management
                p.about__description Lorem Ipsum is simple dummy text of the prising and typoscripting industry standart dummy text ever